* {
    box-sizing: border-box;
}
main {
    background-color: #f8f9fa;
    /* background-color: rgb(236, 236, 236); */

}
main h1 {
    padding: 10px 60px;
}
.list-head {
    display: flex;
    align-items: center;
    padding: 20px;
}

.list-head button{
    outline: none;
    height:2.25rem;
    padding-left: 50px;
    color:rgb(21, 207, 207);
}
.list-head input{
    outline: none;
    width: 450px;
    height: 2.25rem;
    color:rgb(21, 207, 207);

}
.search-btn {
    margin-left: -50px;
    font-size: 25px;
    cursor: pointer;
}
.list-head input, button {
    padding: 20px;
    outline: none;
    border-radius: 5px;
    /* background-color: rgb(31 41 55); */
}
.drop-down {
    padding: 12px;
    border-radius: 5px;
}
.product-listing {
   padding: 50px;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;
}
.listing-item {
     box-shadow: 0 0.1rem 0.25rem rgb(167, 165, 165);
     padding: 10px;
     border-radius: 7px; 
     width: 24%;
     margin-bottom: 10px;
     background-color: white;
}
.product-img {
   margin: 0 auto;
   width: 100%;

}
.product-img img{
    height: 150px;
    width: 70%;
    position: relative;
    left: 15%;
 }

 .buy-btn button {
     height: 7px;
     border: none;
     text-align: center;
 }

 .buy-btn button:hover {
     background-color: cornflowerblue;
     cursor: pointer;
 }
